
<section class="new_form_heading">
<h1>Editing Article</h1>
</section>
<hr>
<%= render 'form', article: @article %>
<br>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>


<footer>
  Copyright © 2020 SyedaIsmatFarjana, All rights reserved
</footer>