
<section class="new_form_heading">
  <h1>New Article</h1>
  <hr>
</section>

<div class="form">
  <%= render 'form', article: @article %>
</div>
<br>
<p>
  <%= link_to 'Back', articles_path %>
</p>

<footer>
  Copyright © 2020 SyedaIsmatFarjana, All rights reserved
</footer>