/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=IBM+Plex+Sans:wght@300&family=Oswald&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=IBM+Plex+Sans:wght@300&family=Oswald&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat+Alternates:wght@500&family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    /*background-image: url("../images/background.jpg");*/

    font-family: 'Open Sans', sans-serif;
    text-align: center;


}

.top_heading h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 70px;
    text-align: center;
    margin: 40px 0 0 0;
    padding: 20px 0 10px 0;
}

.top_heading p {
    padding: 0 14rem;
    text-align: right;
}

.all_posts {
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    padding: 1rem 15rem;
}


.all_posts h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 0;
}

.all_posts .post_author {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    padding: 0.5rem 0;
    border-bottom: 1px solid #999999;
}

.all_posts .post {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    padding: 5px;
}



.post_heading >> h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    text-align: left;
    color: black;
}


.one_post_author p {
    font-size: 16px;
}

.one_post_heading h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 0;
    font-weight: lighter;
}

  /*new form */
.new_form_heading h1{
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    padding: 1rem 0;
    margin: 1.5rem 0 0 0;
}

/*design show_comment*/

.show_comment {
    text-align: left;
    padding: 0 15rem;
}



.show_comment p {
    font-size: 8px;
}

footer {
 padding: 1.5rem 1rem;
}